/**
    基本配置样式
*/
$fontSizeExtra: 12px; //辅助文字
$fontSizeSmall: 13px; //正文（小）
$fontSizeBase: 14px; //正文
$fontSizeMedium: 16px; //小标题
$fontSizeExtraLarge: 20px; //主标题
$fontSizeBig: 40px; //大标题

$width: 100%; //基础宽度
$_90width: 90%; //90%宽度
$lineHeiht: 36px; //基础行高

$mainColor: #154898; //主题色
$baseColor: #fff; //基础背景色
$cursor: pointer; //手指样式
$center: center; //文字居中

//body背景图
@mixin bodyBg ($bgImage, $bgRepeat, $bgPosition) {
    background-image: $bgImage;
    background-repeat: $bgRepeat;
    background-position: $bgPosition;
    background-size: cover;
}

//改变element_card组件的默认样式
@mixin elCard($pTop, $pRight, $pBottom, $pLeft) {
    padding: $pTop $pRight $pBottom $pLeft;
};

//改变element_header组件的默认样式
@mixin elHeader() {
    padding: 0 6%;
};

//改变element_main组件的默认样式
@mixin elMain() {
    padding: 0 1%;
};

//改变element_row组件的默认样式
@mixin elRow() {
    height: 100%;
};

//设置entry组件的版心样式
@mixin elEntry() {
    padding: 10%;
};

//设置element_menu组件的默认样式
@mixin elMenu() {
    width: $width;
};

//设置baseInfo组件的版心样式
@mixin elBaseInfo() {
    padding: 1% 14%;
};

//设置element_curmbs组件的默认样式
@mixin elCurmbs() {
    width: $width;
    padding: 1% 0;
    box-sizing: border-box;
};

//设置element_divider组件的默认样式
@mixin elDivider() {
    margin: 0;
};


