@font-face {
  font-family: "iconfont"; /* Project id 2570907 */
  src: url('iconfont.eot?t=1624436579557'); /* IE9 */
  src: url('iconfont.eot?t=1624436579557#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1624436579557') format('woff2'),
       url('iconfont.woff?t=1624436579557') format('woff'),
       url('iconfont.ttf?t=1624436579557') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.al-yunduan:before {
  content: "\e600";
}

.al-config-account:before {
  content: "\e6d9";
}

.al-changjianwenti-:before {
  content: "\e61a";
}

.al-qita:before {
  content: "\e61e";
}

.al-h5:before {
  content: "\e60d";
}

.al-biaoqiankuozhan_xiazai-148:before {
  content: "\eb0c";
}

.al-xingzhuang43:before {
  content: "\e661";
}

.al-authority:before {
  content: "\e623";
}

.al-yonghu-fuben:before {
  content: "\e629";
}

.al-youxi:before {
  content: "\e643";
}

.al-10:before {
  content: "\e6c7";
}

.al-yunying:before {
  content: "\e607";
}

.al-xinxi:before {
  content: "\e693";
}

.al-qunfengjiaosequanxian:before {
  content: "\e709";
}

.al-icon-project:before {
  content: "\e64a";
}

.al-yonghuguanli:before {
  content: "\e617";
}

.al-jiaosequanxianguanli:before {
  content: "\e616";
}

.al-shujubaobiao:before {
  content: "\e69f";
}

.al-qiyeguanli:before {
  content: "\e77e";
}

.al-wenhao1:before {
  content: "\e71d";
}

.al-chakan:before {
  content: "\e63e";
}

.al-wenhao:before {
  content: "\e62e";
}

.al-tousujianyi:before {
  content: "\e60b";
}

.al-digital:before {
  content: "\e615";
}

.al-ziyuanguanli:before {
  content: "\e7df";
}

.al-tuiguangshezhi:before {
  content: "\e781";
}

.al-jiahao-fill:before {
  content: "\e660";
}

.al-xiugaimima1:before {
  content: "\e641";
}

.al-xiugaimima:before {
  content: "\e614";
}

.al-dunpai:before {
  content: "\e604";
}

.al-tuichu:before {
  content: "\e85f";
}

.al-gerenyonghutouxiang2:before {
  content: "\e7e5";
}

.al-shouji:before {
  content: "\e603";
}

.al-suo:before {
  content: "\e60a";
}

